p {
  margin: 0px;
  padding: 0px;
  color: #444;
}

h2 {
  color: #444;
}

body {
  background-color: #0080ff;
}

.container {
  width: 57em;
  margin: 0 auto;
  background-color: white;
  border-radius: 3px;
  padding: 40px;
}

#launch {
  text-align: center;
}

#launch > h2 {
  font-family: "proxima nova", sans-serif;
}

.chat {
  width: 100%;
}

.text-field {
  border: 2px solid #e7e7e7;
  background-color: #fcfcfc;
  padding: 10px;
  font-size: 16px;
  border-radius: 3px;
}

.full-width {
  width: 88%;
  margin-right: 10px;
}

.text-entry {
  margin-top: 40px;
}

.button {
  border: 0;
  color: white;
  border-radius: 3px;
  height: auto;
  font-size: 16px;
  margin-top: 18px;
  padding: 15px;
  font-weight: 500;
  background-color: #15CD72;
}

.blue-button {
    font-size: 14px;
    padding: 10px;
    background-color: #0069ff;
  }

.messages {
  height: 20em;
  width: 40em;
  float: left;
  border-right: 2px solid #f1f1f1;
  text-align: right;
  overflow: scroll;
  padding: 10px;
  margin-right: 10px;
}

  .private {
    float: none;
    width: 55em;
    border: none;
  }

#users {
  height: 20em;
  width: 15em;
  margin: 0px;
  margin-left: 40em;
  overflow: scroll;
}

.message {
  background-color: #15CD72;
  color: white;
  font-family: "Helvetica", sans-serif;
  max-width: 30em;
  min-width: 10em;
  border-radius: 5px;
  text-align: center;
  float: right;
  clear: both;
  padding: 10px;
  margin: 7px 9px 0 0;
}
  .align-right {
    float: left;
    clear: both;
  }

.user {
  color: #565656;
  font-size: 18px;
  font-family: "Helvetica Neue", sans-serif;
  cursor: pointer;
  text-align: center;
}

#chat-header {
  text-align: center;
  border: 2px solid #f1f1f1;
  margin: 0px;
  font-family: "Helvetica Neue", sans-serif;
  padding: 20px;
}